body{
    background-image: url(content/background.png);
}

.circle{
    background-color: white;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: black;
    border-radius: 500px;
    border-width: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: white 0px 0px 20px;
    transition: box-shadow .2s ease;
    margin-top: 3%;
    opacity: 0.8;
}

.circle:hover{
    box-shadow: white 0px 0px 50px;
}

.title{
    display: block;
    text-align: center;
    padding: 4% 0;
    font-family: Jost;
    font-size: 34pt;
}

.hey{
    font-size: 50pt;
    text-shadow: 1px 1px black;
}

.titlewelc{
    text-decoration: underline;
    font-size: 31pt;
}

.line{
    background-color: black;
    width: 500px;
    height: 4px;
}

.descriptor{
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    text-align: center;
}

.view{
    text-align: center;
    font-family: Jost;
    margin-bottom: 0%;
}

.arrow{
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
}

.drink{
    width: 70px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: px;
}
